server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:file:./data/githubdb;DB_CLOSE_ON_EXIT=FALSE;AUTO_RECONNECT=TRUE
    driverClassName: org.h2.Driver
    username: sa
    password: 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: false
        show_sql: false
github:
  apiBaseUrl: https://api.github.com
